<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakzain.hnreceipt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HNReceipt">
        <activity android:name=".activity.DaftarLahanActivity"/>
        <activity android:name=".activity.DaftarKaryawanActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SummaryActivity" />
        <activity android:name=".activity.DaftarDOActivity" />
        <activity
            android:name=".activity.CreateDOActivity"
            android:label="@string/buat_do" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>